@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap");

.header {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;

    font-size: 4.2361111111vw;
    line-height: 5.1388888889vw;
    letter-spacing: -0.015em;
    padding-top: 17.0138888889%;
    padding-left: 14.5833333333%;
}
.content {
    width: 100%;
    height: 53.889vw;
    background-size: 100% 100%;
}

.content p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1111111111vw;
    line-height: 1.3888888889vw;
    letter-spacing: 0.005em;
    padding-left: 14.5833333333%;
    padding-top: 2.4305555556%;
    padding-right: 53.5416666667%;
}
